@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --af-space-1-y: clamp(2rem, 1.517rem + 1.983vw, 3.5rem);
  --af-space-2-y: clamp(2.5rem, 1.855rem + 2.645vw, 4.5rem);
  --af-space-3-y: clamp(2.5rem, 1.05rem + 5.95vw, 7rem);
  --af-space-4-y: clamp(2.5rem, 0.566rem + 7.934vw, 8.5rem);
  --af-space-5-y: clamp(3.75rem, 1.494rem + 9.256vw, 10.75rem);

  --af-color-tristesse: #0c0f1e;
  --af-color-dark-rift: #080b15;
  --af-color-grey-heather: #85878e;
  --af-color-powder-dust: #b6b7bb;
  --af-color-ruddy: #ff0027;
  --af-color-chefs-hat: #f3f3f5;

  --af-text-caption: clamp(0.625rem, 0.585rem + 0.165vw, 0.75rem);
  --af-text-sm: clamp(0.75rem, 0.669rem + 0.331vw, 1rem);
  --af-text-base: clamp(1rem, 0.919rem + 0.331vw, 1.25rem);
  --af-text-lg: clamp(1.125rem, 0.762rem + 1.488vw, 2.25rem);
  --af-text-xl: clamp(2.25rem, 1.525rem + 2.975vw, 4.5rem);
  --af-text-2xl: clamp(3.75rem, 2.3rem + 5.95vw, 8.25rem);
  --af-text-3xl: clamp(4.5rem, 1.921rem + 10.579vw, 12.5rem);
  --af-text-display: clamp(7.375rem, 2.339rem + 20.661vw, 23rem);
  --af-text-button: clamp(1.5rem, 1.017rem + 1.983vw, 3rem);

  --max-width: 100em;
  --external-gutter: clamp(1.5rem, 0.372rem + 4.628vw, 5rem);
  --grid-gutter: 80px;
  --grid-max-col: 6;
  --grid-col-gap: 1.5rem;

  --eye-size: calc(var(--af-text-lg) * 1.4);
}

body {
  background-color: var(--af-color-chefs-hat);
  color: var(--af-color-tristesse);
  font-family: 'Inter', sans-serif;
}

/* html,
body,
#__nuxt,
#__layout {
  overflow-x: hidden;
  max-width: 100vw;
} */

.--vh {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  /* padding-inline: var(--external-gutter); */
  padding-inline: 5%;
}

.section--grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-max-col), 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: var(--grid-col-gap);
}

.space--left {
  flex: 1;
}

.space--right {
  flex: 1;
}

.star {
  display: block;
  width: var(--af-text-lg);
  max-height: max-content;
  padding-top: 0.4em;
}

@media screen(sm) {
  :root {
    --eye-size: calc(var(--af-text-xl) * 1.6);
  }
}

@media screen(tablet) {
  .space--right {
    flex: 0 1 70%;
  }
}
